[Desktop Entry]
Name=Cosmic Browser
GenericName=Web Browser
Comment=A browser for COSMIC DE
Exec=cosmic-browser %U
Icon=com.system76.CosmicBrowser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=cosmic-browser